version: "3.8"

services:
  api:
    build: .
    container_name: go_api
    depends_on:
      - postgres
    ports:
      - "8888:8080"
    env_file:
      - .env
    networks:
      - app_network
    restart: always

  postgres:
    image: postgres:15-alpine
    container_name: postgres_db
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network
    restart: always

networks:
  app_network:
    driver: bridge

volumes:
  postgres_data:
