version: "3.8"

services:
  api:
    build: .
    container_name: go_api
    depends_on:
      - postgres
    ports:
      - "8888:8080"
    env_file:
      - .env
    networks:
      - app_network
    restart: always

  postgres:
    image: postgres:15-alpine
    container_name: postgres_db
    ports:
      - "5435:5435"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

networks:
  app_network:
    driver: bridge

volumes:
  postgres_data:
