version: "3.8"

services:
  postgres:
    image: postgres:17-alpine
    container_name: postgres_db
    env_file:
      - ./backend/.env
    environment:
      - POSTGRES_USER=postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build:
      context: ./backend
    container_name: go_api
    depends_on:
      - postgres
    env_file:
      - ./.env.routes
      - ./backend/.env
    ports:
      - "8890:8080"
    volumes:
      - ./backend:/usr/src/app
      - backend_tmp:/usr/src/app/tmp
    networks:
      - app_network
    restart: unless-stopped
    develop:
      watch:
        - action: rebuild
          path: ./backend

  web:
    build:
      context: ./web
    container_name: web_app
    depends_on:
      - api
    env_file:
      - ./.env.routes
    environment:
      - CHOKIDAR_USEPOLLING=true
    ports:
      - "5173:5173"
    volumes:
      - ./web:/usr/src/app
      - ./web/node_modules:/usr/src/app/node_modules
    networks:
      - app_network
    restart: unless-stopped
    develop:
      watch:
        - action: rebuild
          path: ./web

networks:
  app_network:
    driver: bridge

volumes:
  postgres_data:
  backend_tmp:
