version: "3.8"

services:
  postgres:
    image: postgres:17-alpine
    container_name: postgres_db
    ports:
      - "5433:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
  api:
    build: .
    container_name: go_api
    depends_on:
      - postgres
    ports:
      - "8890:8080"
    env_file:
      - .env
    environment:
      - CORS_ALLOWED_ORIGINS=http://localhost:5173,https://7obnqz8ix1.loclx.io
    volumes:
      - .:/usr/src/app
      - /usr/src/app/tmp
    networks:
      - app_network
    restart: "no"
networks:
  app_network:
    driver: bridge
volumes:
  postgres_data:
